<html lang = "pt-br">
		<head>
			<meta charset = "utf-8">
			<title>Faculdade Impacta</title>
			{% load static %}
			<link rel="shortcut icon" href="{% static '..\static\#' %} " type="image/jpg" style="width:100%"/> 
			<link rel="stylesheet" type="text/css"  href="{% static '..\static\css1.css' %}"/>
			<link rel="stylesheet" type="text/css"  href="{% static '..\static\index.css' %}"/>
  
		</head>
		<body>
		<h1 id="titulo" style="margin: 10px 20px;">TECVOLUTION</h1>
</head>
<body>
<script>
	function validaCmp() {
		var user = document.getElementById("id_username").value;
		var pass = document.getElementById("id_password").value;
		if (user == "" || user == null){ alert("Usuário inválido!") }
		if (pass == "" || pass == null){ alert("Senha inválida!") } }
</script>
	
<nav id="menu">
    <ul>
        <br/><br/><br/><br/>
        <li><a href="index.html">A FACULDADE</a></li>
        <li><a href="contato.html">CONTATO</a></li>
        <li><a href="#">CURSOS</a><ul>
            <a href="cursos.html"><li>GRADUAÇÃO</li></a>
            <a href="#"><li>PÓS-GRADUAÇÃO</li></a></ul></li>
    </ul>
</nav>
		<ul>
            {% if not user.is_authenticated %}
			<form method="POST" id="acesso">
				{% csrf_token %}
                {{ form.as_p }}	
                <input type="submit" onclick="validaCmp()" value="ACESSAR" id="botao"/>
			</form>		
			{% else %}
				{%if user.perfil == 'A'%}
					<a href="logado.html">ÁREA DO ALUNO</a><br/>
				{%endif%}
				{%if user.perfil == 'P'%}
					<a href="logado.html">ÁREA DO PROFESSOR</a><br/>
				{%endif%}
				{%if user.perfil == 'C'%}
					<a href="logado.html">ÁREA DO COORDENADOR</a><br/>
                {%endif%}
		<a href="{%url 'restrito'%}">RESTRITO</a><br/>	
                <a href="sair/">SAIR</a><br/>
			{% endif %}
			<br/><br/><br/>
    </ul>
</nav>
{% block conteudo %}

{% endblock %}

<footer id="baixo" style = "color:black">
	<div id = "partes">
		<p align="justify">
		<h3 style="font-size:40px"><b>NAVEGAÇÃO</b></h3>
		<a href = "">A Impacta</a><br> 
		<a href = "">Cursos</a><br>
		<a href = "">Eventos</a><br>
		<a href = "">Notícias</a><br>
		<a href = "">Blog</a><br>
		<a href = "">Contato</a><br>
	</div>
	
	<div>
		<p align="justify">
		<h3 style="font-size:40px"><b>SOBRE</b></h3>
		<p align="justify">
		A Faculdade Impacta Tecnologia nasceu da percepção de um Grupo,<br>
			que desde 1998 é referência em TI, Gestão e Design,<br>
			para suprir a falta de mão de obra especializada do mercado<br>
			de tecnologia e oferecer uma formação completa e <br>multidisciplinar aos alunos.</p>
		<hr />
	</div>	
	
</footer>
</body>
</html>

