{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>LMS {% block titulo %}{% endblock %} </title>
        <link rel="stylesheet" href="{% static 'site.css' %}" />
    </head>
    <body>
        <header>
            <h1>Faculdade Impacta</h1>
            <nav>
                <a href="/">Index</a>
                <a href="/contato">Contato</a>
                {% if not user.is_authenticated %}
                    <a href="/entrar">Login</a>
                {% else %}
                    Olá, {{ user }}
                    <a href="/sair">Sair</a>
                    <a href="{% url 'restrito' %}">Restrito</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block main %}

            {% endblock %}
        </main>
        <footer>
            Todos os direitos reservados
        </footer>
    </body>
</html>
