{% extends "base.html" %}
{% block conteudo %}
{%load static%}
<div id="index"><br/><br/>  
<h1 id= "principal"><b>FACULDADE IMPACTA</b></h1>

<div>
	<a href = "cursos.html"><img id = "card1" src = "{% static 'card1.jpg' %}"/></a>
	<a href = "cursos.html"><img id = "card1" src = "{% static 'card22.jpg' %}"/></a>
	<a href = "cursos.html"><img id = "card1" src = "{% static 'card3.jpg' %}"/></a>
	<a href = "cursos.html"><img id = "card1" src = "{% static 'card4.jpg' %}"/></a>
</div>

<h1 id= "principal"><b>VESTIBULAR</b></h1><br>
<a href = "inscricao.html"><h3 id="evento" style="text-decoration: none"><b>INSCRIÇÕES ABERTAS</b></h3></a><br><br>

<h1 id= "principal2"><b>EVENTOS</b></h1><br>
<a href = "#"><h3 id= "evento"><b>> Veja todos os eventos <</b></h3></a><br><br>
{% endblock %}
