{% extends 'base.html' %}

{% block titulo %} HomePage {% endblock %}

{% block main %}
    <h1>Olá Django</h1>

    {% if usuario %}
        <p> Olá {{ usuario | upper }}, tudo bem? </p>
    {% endif %}

    <ul>
        {% for curso in cursos %}
            {% if curso.ativo %}
                <li class="{{ curso.classe }}" > {{ curso.nome }} - {{ curso.tipo }} </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if perfil == 'A' %}
        <p>COnteúdo para Alunos!</p>
    {% elif perfil == 'F' %}
        <p>COnteúdo para Professores!</p>
    {% else %}
        <p>COnteúdo para Coordenadores!</p>
    {% endif %}
{% endblock %}
