[18:52, 21/11/2017] Pedro Furlan: {% extends "base.html" %}

{% block conteudo %}
    {% if not user.is_authenticated%}
            <h1 align="center">Favor Fazer Login!</h1>
        {% else %}

            {% if user.perfil == 'A' %}
            <br/><br/><br/><br/><br/>
            <h1 align="center">Conteúdo para Alunos!</h1>
            <h1 align="center"><a href = 'disciplinas.html'>Registrar Disciplinas</a></h1>
            <br/><br/><br/><br/><br/>
            {% endif %}

            {% if user.perfil == 'P' %}
            <br/><br/><br/><br/><br/>
            <h1 align="center">Conteúdo para Professores!</h1>
            <br/><br/><br/><br/><br/>
            {% endif %}

            {% if user.perfil == 'C' %}
            <br/><br/><br/><br/><br/>
            <h1 align="center">Conteúdo para Coordenadores!</h1>
            <br/><br/><br/><br/><br/>
            {% endif %}

    {% endif %}
{%endblock%}