{% extends "base.html" %}
{% block conteudo %}
{%load static%}
<br/><br/>
<h1>ÁREA RESTRITA</h1><br/>
{% for questao in questoes  %}
	<div>
		<h2>{{ questao.numero }}</h2>
		<ul>
			{% for questao in questao.arquivosquestao %}
				<li>{{ turma }} - 
				<a href="{% url 'questao_form' numero=questao.numero arquivosquestao_id=arquivosquestao.id %}">Editar questão</a></li>
			{% empty %}
				<li>Esse curso ainda não possui questões</li>
			{% endfor %}

		</ul>
		<p class="acoes">
			<a href="{% url 'questao_form' numero=questao.numero arquivosquestao_id='' %}">Adicionar Questão</a>
		</p>
<br/><br/><br/>
{% endfor %}
{% endblock %}
